.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal p, .reveal ul, .reveal li {
  font-family: 'Montserrat', 'Meiryo', sans-serif;
  text-transform: none;
}

.reveal p, .reveal li {
  font-size: 1.5em;
}

.reveal code {
  font-family: 'Source Code Pro', monospace;
  font-size: 2em;
  line-height: 1;
}